<div class="menu">
	<p-tabView>
		<p-tabPanel header="Search By Pincode">
			<app-search-by-pincode></app-search-by-pincode>
		</p-tabPanel>
		<p-tabPanel header="Search By District">
			<app-search-by-district></app-search-by-district>
		</p-tabPanel>
	</p-tabView>

	<h3>Slot unavailable?</h3>
	<h4>Register now and get notified on <a style="color: #2196F3" (click)="showEmailDialog()">Email</a> or <a
			style="color: #2196F3" (click)="showWhatsAppDialog()">WhatsApp</a> when slot is available !</h4>

	<p-dialog [(visible)]="displayEmail" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
		[style]="{'text-align': 'center'}" [modal]="true">
		<h4>Get Email Notification when slot is available</h4>
		<input type="email" pInputText [(ngModel)]="email" placeHolder="Enter your email address" />
		<div style="margin-top: 15px;">
			<button pButton type="button" label="Notify Me" class="p-button-sm" (click)="notifyMe()"></button>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="displayWhatsApp" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
		[style]="{'text-align': 'center'}" [modal]="true">
		<h4>Get WhatsApp Notification when slot is available</h4>
		<input type="number" max-length="10" pInputText [(ngModel)]="mobileNo"
			placeHolder="Enter your registered mobile number" />
		<div style="margin-top: 15px;">
			<button pButton type="button" label="Notify Me" class="p-button-sm" (click)="notifyMe()"></button>
		</div>
	</p-dialog>
</div>

<div class="content">
	<router-outlet></router-outlet>
</div>