<div class="slot-notification">
	<h4>Slot unavailable?</h4>
	<h5>Get notified directly on your <a (click)="showEmailDialog()">Email</a> when slot is available !</h5>
	<!--
	<h5>Get notified directly on your <a (click)="showEmailDialog()">Email</a> or <a (click)="showWhatsAppDialog()">WhatsApp</a> when slot is available !</h5>
	<h5>Notification feature coming soon...</h5>
	-->
	<h6>Note : Slots are provided by the state govt and private hospitals. Slot availability data is cached and may be upto 30 minutes old.</h6>
	
	<p-dialog [(visible)]="displayEmail" [breakpoints]="{'960px': '80vw', '640px': '100vw'}"
		[style]="{'text-align': 'center', 'height': '90vh'}" [modal]="true" [dismissableMask]="true"
		(onShow)="resetAllInputStyles()">
		<div *ngIf="emailAdded != 'true'">
			
			<h5>Get Email Notification when slot is available.<br />
				You can get notification for Pincode / District / Both </h5>

			<p *ngIf="emailAdded != null && emailAdded != undefined" class="error">{{emailAdded}}</p>

			<div class="error" style="margin-bottom: 1.67em;">
				<p *ngFor="let error of commonErrors" style="margin: 0;">{{error}}</p>
			</div>

			<div class="input_pincode">
				<p-inputNumber [(ngModel)]="pincode" mode="decimal" placeholder="Enter your pincode" maxlength="6" 
					[useGrouping]="false" (onBlur)="validatePincodeAndDistrict()">
				</p-inputNumber>
			</div>

			<div class="input_state" style="margin-top: 10px;">
				<p-dropdown #dd1 [options]="states" [(ngModel)]="selectedState" optionLabel="name" [filter]="true" filterBy="name"
					[showClear]="true" resetFilterOnHide="true" placeholder="Select State"
					[style]="{'text-align': 'left'}" (onChange)="showDistricts()">
					<ng-template pTemplate="selectedItem">
						<div class="state-item state-item-value" *ngIf="selectedState">
							<div>{{selectedState.name}}</div>
						</div>
					</ng-template>
					<ng-template let-state pTemplate="item">
						<div class="state-item">
							<div>{{state.name}}</div>
						</div>
					</ng-template>
				</p-dropdown>
			</div>
			
			<div style="margin-top: 10px;" *ngIf="selectedState" class="input_district">
				<p-dropdown #dd2 [options]="districts" [(ngModel)]="selectedDistrict" optionLabel="name" [filter]="true"
					filterBy="name" [showClear]="true" resetFilterOnHide="true" 
					placeholder="Select District" (onChange)="validatePincodeAndDistrict()"
					[style]="{'text-align': 'left'}">
					<ng-template pTemplate="selectedItem">
						<div class="district-item district-item-value" *ngIf="selectedState && selectedDistrict">
							<div>{{selectedDistrict.name}}</div>
						</div>
					</ng-template>
					<ng-template let-district pTemplate="item">
						<div class="district-item">
							<div>{{district.name}}</div>
						</div>
					</ng-template>
				</p-dropdown>
			</div>

			<div class="filters">
				<div class="col1">
					<p-radioButton name="age" value="45" label="45+" [(ngModel)]="age"></p-radioButton>
					<span style="margin-bottom: 15px;"></span>
					<p-radioButton name="dose" value="dose1" label="Dose 1" [(ngModel)]="dose"></p-radioButton>
				</div>
				<div class="col2">
					<p-radioButton name="age" value="18" label="18+" [(ngModel)]="age"></p-radioButton>
					<span style="margin-bottom: 15px;"></span>
					<p-radioButton name="dose" value="dose2" label="Dose 2" [(ngModel)]="dose"></p-radioButton>
				</div>
				<div class="col3">
					<p-radioButton name="age" label="Any" [(ngModel)]="age"></p-radioButton>
					<span style="margin-bottom: 15px;"></span>
					<p-radioButton name="dose" label="Any" [(ngModel)]="dose"></p-radioButton>
				</div>
			</div>

			<input type="text" pInputText [(ngModel)]="email" placeholder="Enter your email address" 
			id="email" (ngModelChange)="validateEmail()" style="margin-top: 10px;" />

			<div style="margin-top: 15px;">
				<re-captcha #reCaptchaEmail (resolved)="resolved($event)" (error)="errored($event)" errorMode="handled" [siteKey]="reCaptchaSiteKey"></re-captcha>
				<button pButton type="button" label="Notify Me" class="p-button-sm" (click)="notifyMe()"></button>
			</div>
		</div>
		<div *ngIf="emailAdded == 'true'" style="height: 100%; display: flex; align-items: center;">
			<h4>Great! You'll get an Email Notification when slot is available.</h4>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="displayWhatsApp" [breakpoints]="{'960px': '80vw', '640px': '100vw'}"
		[style]="{'text-align': 'center', 'height': '90vh'}" [modal]="true" [dismissableMask]="true"
		(onShow)="resetAllInputStyles()">
		<div *ngIf="mobileNoAdded != 'true'">

			<h5>Get WhatsApp Notification when slot is available.<br />
				You can get notification for Pincode / District / Both </h5>

			<p *ngIf="mobileNoAdded != null && mobileNoAdded != undefined" class="error">{{mobileNoAdded}}</p>

			<div class="error" style="margin-bottom: 1.67em;">
				<p *ngFor="let error of commonErrors" style="margin: 0;">{{error}}</p>
			</div>
			
			<div class="input_pincode">
				<p-inputNumber [(ngModel)]="pincode" mode="decimal" placeholder="Enter your pincode" maxlength="6" 
					[useGrouping]="false" (onBlur)="validatePincodeAndDistrict()">
				</p-inputNumber>
			</div>

			<div class="input_state" style="margin-top: 10px;">
				<p-dropdown #dd1 [options]="states" [(ngModel)]="selectedState" optionLabel="name" [filter]="true" filterBy="name"
					[showClear]="true" resetFilterOnHide="true" placeholder="Select State"
					[style]="{'text-align': 'left'}" (onChange)="showDistricts()">
					<ng-template pTemplate="selectedItem">
						<div class="state-item state-item-value" *ngIf="selectedState">
							<div>{{selectedState.name}}</div>
						</div>
					</ng-template>
					<ng-template let-state pTemplate="item">
						<div class="state-item">
							<div>{{state.name}}</div>
						</div>
					</ng-template>
				</p-dropdown>
			</div>
			
			<div style="margin-top: 10px;" *ngIf="selectedState" class="input_district">
				<p-dropdown #dd2 [options]="districts" [(ngModel)]="selectedDistrict" optionLabel="name" [filter]="true"
					filterBy="name" [showClear]="true" resetFilterOnHide="true" 
					placeholder="Select District" (onChange)="validatePincodeAndDistrict()"
					[style]="{'text-align': 'left'}">
					<ng-template pTemplate="selectedItem">
						<div class="district-item district-item-value" *ngIf="selectedState && selectedDistrict">
							<div>{{selectedDistrict.name}}</div>
						</div>
					</ng-template>
					<ng-template let-district pTemplate="item">
						<div class="district-item">
							<div>{{district.name}}</div>
						</div>
					</ng-template>
				</p-dropdown>
			</div>

			<div class="filters">
				<div class="col1">
					<p-radioButton name="age" value="45" label="45+" [(ngModel)]="age"></p-radioButton>
					<span style="margin-bottom: 15px;"></span>
					<p-radioButton name="dose" value="dose1" label="Dose 1" [(ngModel)]="dose"></p-radioButton>
				</div>
				<div class="col2">
					<p-radioButton name="age" value="18" label="18+" [(ngModel)]="age"></p-radioButton>
					<span style="margin-bottom: 15px;"></span>
					<p-radioButton name="dose" value="dose2" label="Dose 2" [(ngModel)]="dose"></p-radioButton>
				</div>
				<div class="col3">
					<p-radioButton name="age" label="Any" [(ngModel)]="age"></p-radioButton>
					<span style="margin-bottom: 15px;"></span>
					<p-radioButton name="dose" label="Any" [(ngModel)]="dose"></p-radioButton>
				</div>
			</div>

			<div class="input_mobile_no" style="margin-top: 10px;">
				<p-inputNumber id="mobile" [(ngModel)]="mobileNo" mode="decimal" 
					placeholder="Enter your Whatsapp mobile number" maxlength="10" 
					required="true" [useGrouping]="false" (onBlur)="validateMobileNo()">
				</p-inputNumber>
			</div>

			<div style="margin-top: 15px;">
				<re-captcha #reCaptchaMobile (resolved)="resolved($event)" (error)="errored($event)" errorMode="handled" [siteKey]="reCaptchaSiteKey"></re-captcha>
				<button pButton type="button" label="Notify Me" class="p-button-sm" (click)="notifyMe()"></button>
			</div>
		</div>
		<div *ngIf="mobileNoAdded == 'true'" style="height: 100%; display: flex; align-items: center;">
			<h4>Great! You'll get a WhatsApp Notification when slot is available.</h4>
		</div>
	</p-dialog>
</div>