@import "../../../styles.css";

:host ::ng-deep p-message .p-inline-message .p-inline-message-text {
	font-size: small;
    padding: 2px;
}

.available-slots {
    height: 100%;
}

.default {
    color: #495057;
    font-size: large;
    font-weight: 600;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-align: center;
}

p-table {
	line-height: 1.5;
}

p-table td {
	font-size: 13px;
}

.name {
	font-weight: 600;
    overflow-wrap: break-word;
}

.map {
	font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #2152b3;
}

.fees {
    margin-bottom: 10px;
}

.Paid {
	color: #fff;
    font-size: 9px;
    font-weight: 700;
    background-color: #2152b3;
    border-radius: 20px;
    padding: 2px 5px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5px;
}

.capacity, .nocapacity {
	text-decoration: none;
    color: #2e2e2e;
    font-size: 12px;
    font-weight: 700;
    background-color: #a9d18e;
    padding: 0 10px;
    line-height: 20px;
    margin-top: 5px;
    border-radius: 50px;
    align-content: center;
    justify-content: center;
    height: 20px;
    margin-left: 5px;
}

.nocapacity {
    background-color: red;
}

.age {
	color: #c20505;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
	margin-left: 5px;
}

.date {
	color: #fff;
    font-size: 12px;
    font-weight: 600;
    background-color: #2196F3;
    border-radius: 5px;
    padding: 3px 0;
    text-align: center;
    text-transform: uppercase;
    margin: 8px 0;
}

.vaccine-details {
	padding: 0 5px;
}

.vaccine-details button {
	font-size: 10px;
	margin-left: 10px;
	padding: 5px;
    float: right;
}
.vaccine-details a {
	text-decoration: none;
}

.doses {
    margin: 0 10px;
    padding: 0 10px;
    border-left: 2px solid green;
}

.doses span:first-child {
    margin-right: 10px;
}

.break {
    display: none;
    margin: 5px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .available-slots {
        height: fit-content;
        padding: 20px;
    }

    .vaccine-details {
        text-align: center;
    }
    
    .doses {
        border: none;
        margin: 0;
        padding: 0;
    }

    .doses span:first-child {
        margin-right: 0;
    }
    
    .break {
        display: block;
    }

    .vaccine-details a {
        display: flex;
        margin-top: 10px;
        justify-content: center;
    }

    .vaccine-details button {
        margin-left: 0;
    }
}
